streamlit==1.24.0
opencv-python==4.7.0.72
scipy
numpy==1.24.3
mediapipe
pygame==2.5.0
torch==2.0.1
imutils==0.5.4
facial-emotion-recognition==0.3.0
facenet-pytorch==2.5.2
pandas==2.0.3
plotly==5.15.0
